* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Clash Display';
}

.all-section {
    max-width: 1110px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    gap: 100px;
    /* box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.363); */
}

.logo {
    width: 100%;
}

.logo img {
    width: 170px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 10px 40px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: black;
    font-weight: 600;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn1 {
    background-color: none;
    border: none;
    height: 35px;
    width: 80px;
    border: 1px solid #4F3CC8;
    border-radius: 8px;
}

.btn1 a {
    font-family: 'Clash Display';
    color: #4F3CC8;
}

.btn2 {
    background-color: #4F3CC8;
    border-radius: 8px;
    height: 35px;
    width: 80px;
    border: none;
}

.btn2 a {
    font-family: 'Clash Display';
    color: white;
}

.display {
    display: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #4F3CC8;
    margin: 3px 0;
}

.hero {
    margin-top: 10px;
    max-width: 1110px;
    height: 500px;
    border: none;
    border-radius: 32px;
    opacity: 1;
    background: url(/assests/img/Rectangle\ 81.png)
}

.hero-background {
    width: 100%;
    background: linear-gradient(180deg, rgba(79, 60, 200, 0.589) 0%, rgba(40, 116, 182, 0.493) 100%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}

.hero-text {
    text-align: center;
}

.hero-h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1E293D;
    line-height: 50px;

}

.best-place {
    color: #BAAFFF;
}

.discover {
    color: #fff;
    font-size: 57px;
}

.hero-p {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 25px;

}

.hero-p span {
    color: white;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-btn1 {
    background-color: #fff;
    border-radius: 8px;
    height: 45px;
    width: 110px;
    border: none;
    margin-top: 30px;
    margin-right: 10px;
}

.hero-btn2 {
    background-color: transparent;
    border-radius: 8px;
    width: 110px;
    height: 45px;
    border: 2px solid #fff;
    margin-top: 30px;
    margin-left: 10px;
}

.hero-btn1 a {
    font-family: 'Clash Display';
    color: #4F3CC8;
    font-weight: 500;
}

.hero-btn2 a {
    font-family: 'Clash Display';
    color: #fff;
}

marquee {
    margin: 70px 0px;
    background-color: white;
}

marquee>div {
    display: flex;
    align-items: center;
    gap: 100px;
}

.gigm {
    width: 50px;
}

.eko {
    width: 180px;
}

.bolt {
    width: 60px;
}

.arik {
    width: 130px;
}

.bon-hotel {
    width: 60px;
}

.uber {
    width: 60px;
}

.banner-text {
    text-align: center;
}

.sub-text {
    color: #6952FF;
    font-size: 12px;
    margin-top: 5px;
}

.first-set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    gap: 175px;
    margin-top: 50px;
}

.second-set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    gap: 100px;
    margin-top: 50px;
}

.online {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.customer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.icon {
    width: 64px;
    height: 64px;
    border-radius: 24px;
    background: #C8E5FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    width: 48px;
    height: 48px;
}

.icon-one {
    width: 64px;
    height: 64px;
    border-radius: 24px;
    background: #FFEACD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-one {
    width: 48px;
    height: 48px;
}

.icon-two {
    width: 64px;
    height: 64px;
    border-radius: 24px;
    background: #CBC4F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-two {
    width: 48px;
    height: 48px;
}

.icon-three {
    width: 64px;
    height: 64px;
    border-radius: 24px;
    background: #FFCFE2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-heading {
    color: #000;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p-text {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.banner-heading {
    font-size: 35px;
    color: #000;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.exceptional {
    color: #6952FF;
    font-family: SF Pro Display;
}

.main-text {
    font-size: 15px;
    font-family: 'Poppins';
    margin-top: 20px;
}

.banner-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.banner-one-heading {
    color: #1E293D;
    font-family: SF Pro Display;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-text {
    color: #6952FF;
    font-family: SF Pro Display;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-one-img {
    width: 400px;
    height: 400px;
    border-radius: 129px;
    background: #D9D9D9;
    border-radius: 129px;
    background: url(/assests/img/Rectangle\ 88.png), lightgray 50% / cover no-repeat;
}

.banner-one-btn {
    display: flex;
    height: 40px;
    width: 105px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #4F3CC8;
    border: none;
    margin-top: 20px;
}

.banner-one-btn a {
    color: #FFF;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 100px;
}

.banner-two-img {
    width: 450px;
    height: 350px;
}

.banner-two-img img {
    width: 100%;
}

.banner-two-btn {
    display: flex;
    height: 40px;
    width: 110px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #4F3CC8;
    border: none;
    margin-top: 20px;
}

.banner-two-btn a {
    color: #FFF;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-three-text {
    text-align: center;
    margin-top: 100px;
}

.contact {
    font-family: SF Pro Display;
    color: #4F3CC8;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-three-heading {
    color: #4F3CC8;
    font-family: SF Pro Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.message {
    color: #4F3CC8;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.inputs {
    width: 650px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.contact-img {
    width: 500px;
    height: 333.333px;
    flex-shrink: 0;
    background: url(/assests/img/Artboard\ 3\ 1.png), lightgray 50% / cover no-repeat;
}

.first-name {
    color: #4F3CC8;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.first-name input {
    width: 200px;
    background: none;
    border: none;
    border-bottom: 1px solid #1E293D;
    color: rgba(0, 0, 0, 0.60);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.surname {
    color: #4F3CC8;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 10px;
}

.surname input {
    width: 200px;
    background: none;
    border: none;
    border-bottom: 1px solid #1E293D;
    color: rgba(0, 0, 0, 0.60);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.email {
    color: #4F3CC8;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 50px;
    margin-top: 50px;
}

.email input {
    width: 500px;
    background: none;
    border: none;
    border-bottom: 1px solid #1E293D;
    color: rgba(0, 0, 0, 0.60);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.subject {
    color: #4F3CC8;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 50px;
    margin-top: 50px;
}

.subject input {
    width: 500px;
    background: none;
    border: none;
    border-bottom: 1px solid #1E293D;
    color: rgba(0, 0, 0, 0.60);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.input-text {
    color: #000;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 50px;
    margin-top: 10px;
}

.input-btn {
    display: inline-flex;
    width: 110px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4F3CC8;
    border: none;
    margin-top: 10px;
}

.input-btn a {
    color: #FFF;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-four {
    width: 1110px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 32px;
    background: rgba(217, 217, 217, 0.35);
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.banner-four-text h1 {
    color: #000;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-four-text p {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.join {
    color: #4F3CC8;
    font-family: Poppins;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.join-btn {
    display: flex;
    width: 120px;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4F3CC8;
    border: none;
    margin-top: 20px;
}

.join-btn a {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-four-img {
    width: 505px;
    height: 406px;
    background: url(/assests/img/Artboard\ 1\ 2.png), rgba(211, 211, 211, 0.048) 50% / cover no-repeat;
}

footer {
    width: 1110px;
    height: 288px;
    flex-shrink: 0;
    background: rgba(245, 193, 120, 0.103);
    margin-top: 100px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.foot-logo {
    width: 210px;
    height: 57px;
    background: url(/assests/img/Artboard\ 1\ copy\ 6\ 2.png), rgba(211, 211, 211, 0.021) 50% / cover no-repeat;
    margin-top: 30px;
}

.foot-list ul {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.foot-list a {
    color: black;
}

.foot-icon {
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
}

.foot-icon svg {
    gap: 30px;
    margin-top: 30px;
}

.copyright {
    text-align: center;
    font-family: 'Poppins';
    margin-top: 70px;
}

.right {
    font-size: 16px;
    font-weight: 600;
}

.data{
    font-size: 10px;
}