* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Clash Display';
}

.all-section {
    max-width: 1110px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    gap: 150px;
    /* box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.363); */
}

.logo {
    width: 100%;
}

.logo img {
    width: 170px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 10px 40px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: black;
    font-weight: 600;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn1 {
    background-color: none;
    border: none;
    height: 35px;
    width: 80px;
    border: 1px solid #4F3CC8;
    border-radius: 8px;
}

.btn1 a {
    font-family: 'Clash Display';
    color: #4F3CC8;
}

.btn2 {
    background-color: #4F3CC8;
    border-radius: 8px;
    height: 35px;
    width: 80px;
    border: none;
}

.btn2 a {
    font-family: 'Clash Display';
    color: white;
}

.display {
    display: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #4F3CC8;
    margin: 3px 0;
}

.hero {
    margin-top: 10px;
    max-width: 1110px;
    height: 500px;
    border: none;
    border-radius: 32px;
    opacity: 1;
    background: url(/assests/img/Rectangle\ 81.png);
}

.hero-background {
    width: 100%;
    background: linear-gradient(180deg, rgba(79, 60, 200, 0.589) 0%, rgba(40, 116, 182, 0.493) 100%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}

.hero-text {
    text-align: center;
}

.hero-h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1E293D;
    line-height: 50px;
}

.best-place {
    color: #BAAFFF;
}

.discover {
    color: #fff;
    font-size: 57px;
}

.hero-p {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 25px;

}

.hero-p span {
    color: white;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-btn1 {
    background-color: #fff;
    border-radius: 8px;
    height: 45px;
    width: 110px;
    border: none;
    margin-top: 30px;
    margin-right: 10px;
}

.hero-btn2 {
    background-color: transparent;
    border-radius: 8px;
    width: 110px;
    height: 45px;
    border: 2px solid #fff;
    margin-top: 30px;
    margin-left: 10px;
}

.hero-btn1 a {
    font-family: 'Clash Display';
    color: #4F3CC8;
    font-weight: 500;
}

.hero-btn2 a {
    font-family: 'Clash Display';
    color: #fff;
}