@font-face {
    font-family: Clash Display;
    src: url(/assests/fonts/ClashDisplay-Light.ttf) format('ttf');
    src: url(/assests/fonts/ClashDisplay-Bold.ttf) format('ttf');
    src: url(/assests/fonts/ClashDisplay-Medium.ttf) format('ttf');
}

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Clash Display';
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    gap: 100px;
}

.logo {
    width: 170px;
}

.logo img {
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 10px 40px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: black;
    font-weight: 600;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn1 {
    background-color: none;
    border: none;
    height: 35px;
    width: 80px;
    /* padding: 8px 20px; */
    border: 1px solid #4F3CC8;
    border-radius: 8px;
}

.btn1 a {
    font-family: 'Clash Display';
    color: #4F3CC8;
}

.btn2 {
    background-color: #4F3CC8;
    border-radius: 8px;
    /* padding: 10px 20px; */
    height: 35px;
    width: 80px;
    border: none;
}

.btn2 a {
    font-family: 'Clash Display';
    color: white;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #4F3CC8;
    margin: 3px 0;
}