@media screen and (max-width: 1200px) {
    .all-section {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 100px;
    }

    .hero {
        margin-top: 10px;
        max-width: 1000px;
        height: 500px;
        border: none;
        border-radius: 32px;
        opacity: 1;
        background: url(/assests/img/Rectangle\ 81.png);
    }
}

@media screen and (max-width: 1024px) {
    .all-section {
        max-width: 950px;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 70px;
    }

    .nav-links li {
        padding: 10px 20px;
    }

    .hero {
        margin-top: 10px;
        max-width: 950px;
        height: 500px;
        border: none;
        border-radius: 32px;
        opacity: 1;
        background: url(/assests/img/Rectangle\ 81.png);
    }
}

@media screen and (max-width: 950px) {
    .all-section {
        max-width: 850px;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 70px;
    }

    .nav-links li {
        padding: 10px 20px;
    }

    .hero {
        margin-top: 10px;
        max-width: 850px;
        height: 500px;
        border: none;
        border-radius: 32px;
        opacity: 1;
        background: url(/assests/img/Rectangle\ 81.png);
    }
}

@media screen and (max-width: 850px) {
    .all-section {
        max-width: 700px;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 50px;
    }

    .nav-links li {
        padding: 10px 15px;
    }

    .hero {
        margin-top: 5px;
        max-width: 700px;
        height: 450px;
        border: none;
        border-radius: 32px;
        opacity: 1;
        background: url(/assests/img/Rectangle\ 81.png);
    }

    .hero-background {
        width: 100%;
        background: linear-gradient(180deg, rgba(79, 60, 200, 0.589) 0%, rgba(40, 116, 182, 0.493) 100%);
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
    }

    .hero-h1 {
        font-size: 33px;
        font-weight: 700;
        color: #1E293D;
        line-height: 50px;
    }

    .discover {
        color: #fff;
        font-size: 45px;
    }

    .hero-p {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins';
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 20px;
    }

    .hero-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .hero-btn1 {
        background-color: #fff;
        border-radius: 8px;
        height: 40px;
        width: 100px;
        border: none;
        margin-top: 30px;
        margin-right: 10px;
    }
    
    .hero-btn2 {
        background-color: transparent;
        border-radius: 8px;
        width: 100px;
        height: 40px;
        border: 2px solid #fff;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .hero-btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-weight: 500;
    }
    
    .hero-btn2 a {
        font-family: 'Clash Display';
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .all-section {
        max-width: 700px;
        margin: 0 auto;
    }


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: white;
        color: black;
        gap: 130px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        transition: all 0.3s;
        height: auto;
        padding-bottom: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
    }

    .hero {
        margin-top: 5px;
        max-width: 700px;
        height: 400px;
        border: none;
        border-radius: 32px;
        opacity: 1;
        background: url(/assests/img/Rectangle\ 81.png);
    }

    .hero-background {
        width: 100%;
        background: linear-gradient(180deg, rgba(79, 60, 200, 0.589) 0%, rgba(40, 116, 182, 0.493) 100%);
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
    }

    .hero-h1 {
        font-size: 33px;
        font-weight: 700;
        color: #1E293D;
        line-height: 40px;
    }

    .discover {
        color: #fff;
        font-size: 45px;
    }

    .hero-p {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins';
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 20px;
    }

    .hero-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .hero-btn1 {
        background-color: #fff;
        border-radius: 8px;
        height: 40px;
        width: 100px;
        border: none;
        margin-top: 30px;
        margin-right: 10px;
    }
    
    .hero-btn2 {
        background-color: transparent;
        border-radius: 8px;
        width: 100px;
        height: 40px;
        border: 2px solid #fff;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .hero-btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-weight: 500;
    }
    
    .hero-btn2 a {
        font-family: 'Clash Display';
        color: #fff;
    }
}

@media screen and (max-width: 700px) {
    .all-section {
        max-width: 600px;
        margin: 0 auto;
    }


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: white;
        color: black;
        gap: 130px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        transition: all 0.3s;
        height: auto;
        padding-bottom: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
    }

    .hero {
        margin-top: 5px;
        max-width: 600px;
        height: 400px;
        border: none;
        border-radius: 32px;
        opacity: 1;
        background: url(/assests/img/Rectangle\ 81.png);
    }

    .hero-background {
        width: 100%;
        background: linear-gradient(180deg, rgba(79, 60, 200, 0.589) 0%, rgba(40, 116, 182, 0.493) 100%);
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
    }

    .hero-h1 {
        font-size: 33px;
        font-weight: 700;
        color: #1E293D;
        line-height: 40px;
    }

    .discover {
        color: #fff;
        font-size: 45px;
    }

    .hero-p {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins';
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 20px;
    }

    .hero-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .hero-btn1 {
        background-color: #fff;
        border-radius: 8px;
        height: 40px;
        width: 100px;
        border: none;
        margin-top: 30px;
        margin-right: 10px;
    }
    
    .hero-btn2 {
        background-color: transparent;
        border-radius: 8px;
        width: 100px;
        height: 40px;
        border: 2px solid #fff;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .hero-btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-weight: 500;
    }
    
    .hero-btn2 a {
        font-family: 'Clash Display';
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 60px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 40px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 40px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 280px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 20px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}