@media screen and (max-width: 1200px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 70px;
    }

    .nav-links li {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 50px;
    }

    .nav-links li {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 130px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 50%;
        position: absolute;
        top: 70px;
        left: 10;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 60px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 50%;
        position: absolute;
        top: 70px;
        left: 10;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 40px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 50%;
        position: absolute;
        top: 70px;
        left: 10;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 40px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 50%;
        position: absolute;
        top: 70px;
        left: 10;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 280px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: black;
        gap: 20px;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 50%;
        position: absolute;
        top: 70px;
        left: 10;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger-menu {
        display: flex;
    }

    .btn1 a {
        font-family: 'Clash Display';
        color: #4F3CC8;
        font-size: 10px;
    }
    

    .btn2 a {
        font-family: 'Clash Display';
        color: white;
        font-size: 10px;
    }

    .none{
        display: none;
    }

    .display{
        display: block;
        margin-top: 20px;
    }
}